@import '../../Fonts/_Fonts.scss';
@import '../../Colors/_Colors.scss';

.profile-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $primary;
    color: $white;
    gap: 8rem;
    .profilePosts {
        display: flex;
        width: clamp(30rem, 34rem, 85%);
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        .post-image {
            border-radius: 10px;
            height: 100px;
            width: 140px;
        }
    }
        .about-user-container{
            position: relative;
            margin-top: 3rem;
            width: clamp(30rem, 32rem, 80%);
            .profilePicture {
                height: 160px;
                width: 160px;
                object-fit: cover;
                overflow: hidden;
                border-radius: 50%;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            }
            .profileBioImg {
                position: absolute;
                right: -10px;
                top: 80px;
            }
            .profileDetailsImg {
                position: absolute;
                top: -10px;
                right: 5px;
                height: 130px;
                z-index: 6;
            }
            .profileBio {
                position: absolute;
                top: 108px;
                right: 28px;
                font-size: 1.4rem;
                width: 120px;
                text-align: center;
            }
            .user-info-container {
                position: absolute;
                z-index: 99;
                top: 16px;
                right: 35px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .username {
                    font-size: 1.4rem;
                    font-weight: 600;
                    margin-bottom: 0;
                }
                .points {
                    font-size: 1.4rem;
                    font-weight: 500;
                    margin-top: 5px;
                }
            }
            
        }

       
        

    
    }

    
