@import '../../Fonts/_Fonts.scss';
@import '../../Colors/_Colors.scss';

.popup-container {
    top: 100px;
    position: absolute;
    background-color: #E1B083;
    height: 60rem;
    width: clamp(28rem, 80%, 36rem);
    border-radius: 5px;
    font-family: $primary;
    display: flex;
    flex-direction: column;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    .bee-good {
        color: $sunYellow;
        font-size: 1.4rem;
        font-weight: 800;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 0;
        padding-left: 1.2rem;
    }
    h1 {
        font-size: 2rem;
        height: fit-content;
        font-weight: 800;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 0;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        color: $white;
    }
    .item-photo {
        width: 100%;
    }
    .task-tree {
        position: absolute;
        right: -29px;
        top: 260px;
    }
    .points-leaf-container {
       width: 6rem;
       height: 4rem;
       background-color: #9BBA74;
       border-radius: 40%;
       display: flex;
       align-items: center;
       justify-content: center;
       margin-top: 1rem;
       margin-left: 1rem;
            p{
                color: $white;
                font-size: 1.4rem;
                font-weight: 700;
            }
    }
    .location-info-button-container {
        margin: 4rem 1.5rem 1rem 1.5rem;
        p {
            color: $white;
            font-size: 1.5rem;
            font-weight: 500;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    button {
        background: #9BBA74;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        color: $white;
        border: none;
        font-size: 1.6rem;
        font-weight: 600;
        width: 180px;
        height: 45px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        align-self: center;
    }
    
}