$green: #53A548;
$lightGreen: #CDDB86;
$red: #FF4048;
$skyBlue: #9ED6FF;
$black: #000000;
$transparrentBlack: #00000081;
$gray: #828FA3;
$darkGray: #555555;
$redBrown: #7D3F0F;
$brown: #C48D60; //background color
$darkWhite:  #D9D9D9;
$white: #FFFFFF;
$lightBrown: #deb7cd;
$otherLightBrown: #C6B9A8;
$sunYellow : #FFF284;