@import '../../Fonts/_Fonts.scss';
@import '../../Colors/_Colors.scss';

.newsfeed-container{
    height: 100%;
    font-family: $primary;
    color: $white;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding-bottom: 5rem;
    .post-button {
        display: flex;
        background: #9BBA74;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        border: none;
        align-items: center;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
        p {
            color: $white;
            text-align: left;
            font-weight: 700;
            font-size: 1.8rem;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    h1{
        font-weight: 400;
        font-size: 3.2rem;
        padding-bottom: 0;
        text-align: center;
        margin-bottom: 0px;
    }

    article{
        background-color: #f5f5f5;
        width: clamp(30rem, 36rem, 90%);
        border-radius: 5px;
        color: #636363;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 16px;
        .user-container {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 90%;
            img {
                border-radius: 50%;
                height: 50px;
                width: 50px;
            }
            p {
               font-size: 1.8rem;
               font-weight: 600; 
            }
        }
        .post-image {
            border-radius: 10px;
            width: 90%;
            height: 150px;
        }
        .likes-location-container {
            display: flex;
            width: 85%;
            justify-content: space-between;
            .like-container {
                display: flex;
                gap: 5px;
            }
            p {
                font-size: 1.4rem;
                font-weight: 500;
            }
        }
        .points-container {
            background: rgba(205, 219, 134, 0.58);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            width: 90%;
            display: flex;
            justify-content: center;
            h2 {
               color: black; 
               font-weight: 400;
               margin-left: 1em;
               margin-right: 1em;
            }
        }
    }

}